<ng-template autocomplete-styles></ng-template>
<div id="scroll-container" autocomp-container [style.padding-left.px]="scrollWidth"  [style.padding-right.px]="scrollWidth" style="width:100%;">
  <div style="width:100%;">
    <div [style.height.px]="scrollHeight"></div>
    <div id="control-body">
      <h1>
        Autocomplete-Angular Demo
      </h1>
      <div class="row">
        <label input style="display:inline-block;width:60px;">Colour</label>
        <input id="input-element" type="text" [autocomp]="queryFn" [resolveFunction]="resolveFn" [typeKey]="typeKey"
          [(dataItem)]="colour" [allowCreate]="allowCreate" [openOnFocus]="openOnFocus" [autoAssign]="autoAssign"
        />
      </div>
      <div class="row">
        <label input style="display:inline-block;width:60px;">City</label>
        <input type="text" [(dataItem)]="city" [value]="city" [autocomp]="queryCitiesFn" [allowCreate]="false" [openOnFocus]="openOnFocus"
          [autoAssign]="autoAssign" />
      </div>
      <div class="row">
        <label input style="display:inline-block;width:60px;">Currency</label>
        <input type="text" [(dataItem)]="currency" [value]="currencyCode" [allowCreate]="false" [openOnFocus]="openOnFocus" [autoAssign]="autoAssign"
          [autocomp]="queryCurrenciesFn" [textFunction]="formatCurrencyFn" [resolveFunction]="resolveCurrencyFunction" />
      </div>
      <div class="row"><button button (click)="onSetColour()">Set Colour Programatically</button></div>
      <div class="row">
        <input type="checkbox" [(ngModel)]="openOnFocus" />
        <label>Open on Focus</label>
      </div>
      <div class="row">
        <label>Auto-Assign</label>
        <select [(ngModel)]="autoAssign">
        <option value="">Null (auto-assigns empty input values only)</option>
        <option value="off">Off</option>
        <option value="on">On</option>
      </select>
      </div>
      <div class="row">
        <input type="checkbox" [(ngModel)]="allowCreate" />
        <label>Allow Create (Colour Only)</label>
      </div>
      <div class="row">
        <input type="checkbox" [(ngModel)]="customCreate" />
        <label>Custom Create Component (Colour Only)</label>
      </div>
      <div class="row">
        <input type="checkbox" [(ngModel)]="customList" />
        <label>Custom List Component (Colour Only)</label>
      </div>
      <div class="row">
        <input type="checkbox" [(ngModel)]="scroll" />
        <label>Test Scroll</label>
      </div>      
      <div class="row">
        <p>Keyboard inputs:</p>
        <p><b>Escape:</b> Cancel auto-suggested input, close popup.</p>
        <p><b>Arrow Up/Arrow Down:</b> Navigate popup items / open popup.</p>
        <p><b>Enter:</b> Apply current input.</p>
      </div>            
      <div [style.height.px]="scrollHeight"></div>
    </div>
  </div>
</div>