body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3f3f;
}
h1 {    
    font-size: 16px;
    text-align: center;
}
.autocomplete-popup {
    --float-above: 1px;
    --float-below: 1px;  
    --trim-above: 15px;
    --trim-below: 15px;
}

div.row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid royalblue 1px;
}
label {
    font-size: smaller;
}
label[input]{
    font-size: smaller;
    font-weight: bold;
}
